.footer-section-one {
  min-height: 50vh;
  background: #0f3a47;
  padding-top: 7%;
  padding-left: 10%;
}
.contact-info {
  width: fit-content;
  font-size: 4vh;
  padding-left: 10%;
  color: rgb(255, 255, 255);
}
.paragraph-image {
  display: flex;
  text-align: left;
}
.each-icon {
  color: white;
}
.each-icon-div {
  border-radius: 50px;
  height: 11vh;
  width: 11vh;
  background-color: #204f5d;
  padding-top: 1.5vw;
  padding-left: 1vh;
  margin: 1vw;
  /* margin-right: 1vw; */
}
.icons-div {
  margin-left: 33%;
  display: flex;
}
@media only screen and (max-width: 600px) {
  .footer-section-one {
    padding-left: 27% !important;
  }
  .paragraph-image {
    display: block !important;
  }
  .each-icon-div{
  padding-top: 2.2vw;
  }
  .icons-div {
    margin-left: 4%;
  }
  .contact-info {
    padding-left: 0%;
    text-align: center;
  }
  .footer-section-one {
    padding-left: 33% !important;
  }
}
@media only screen and (max-width: 500px) {
  .footer-section-one {
    padding-left: 28% !important;
  }
  .each-icon-div{
    padding-top: 2.9vw;
    }
}@media only screen and (max-width: 400px) {
  .footer-section-one {
    padding-left: 25% !important;
  }
  .each-icon-div{
    padding-top: 3.5vw;
    }
}

.footer-section-one img {
  width: 35vh;
  height: 20vh;
}
.footer-section-two {
  min-height: 12vh;
  padding-top: 2%;
  text-align: center;
  background: #204f5d;
}

.footer-section-two span {
  font-size: 4vh;
  height: auto;
  color: white;
}
