.footer-section-one {
  min-height: 50vh;
  background: #0f3a47;
}
.contact-info {
  width: fit-content;
  margin-left: 10%;
  margin-top: 5%;
  font-size: 25px;
  color: white;
}
.paragraph-image {
  display: flex;
  text-align: left;
}
@media only screen and (max-width: 600px) {
  .footer-section-one {
    padding-left: 20%;
  }
  .paragraph-image {
    display: block;
  }
  .icons-div {
    margin-left: -25% !important;
  }
}
.footer-section-one img {
  margin-left: 7%;
  width: 35vw;
  height: 35vh;
}
.footer-section-two {
  padding-top: 2%;
  min-height: 12vh;
  text-align: center;
  background: #204f5d;
}

.footer-section-two span {
  font-size: 25px;
  color: white;
}
