.sign-up-header {
  height: 28vh;
  padding-top: 4rem;
  margin-bottom: 2%;
  text-align: center;
  background: #204f5d;
}
.sign-up-header h2 {
  font-size: 30px;
  color: white;
  font-weight: 900;
}
