.banner-component {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 150, 195);
}
.each-slide-in-banner {
  height: 75vh !important;
  display: block !important;
  outline: none;
}
.each-slide-in-banner img {
  opacity: 0.5;
  width: 100%;
  height: 75vh;
}
.each-slide-in-banner div {
  z-index: 20;
  position: relative;
  font-size: 3.8vw;
  margin: -40vh 0% 0% 0%;
  color: rgb(255, 255, 255);
}

.arrow {
  border-radius: 100px;
  width: 45px;
  height: 45px;
  color: #539aac;
  background-color: rgb(255, 255, 255);
  position: absolute;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0px 0px 1px 2px rgba(107, 107, 107, 0.226);
}

.left-direction {
  margin-top: 20% !important;
  margin-left: 10% !important;
}
.right-direction {
  margin-top: 20% !important;
  margin-left: 15% !important;
}
.next {
  right: 0%;
  top: 42%;
}
.prev {
  left: 0%;
  top: 42%;
}
